<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880950983921-5c15l2u2n2op3ihe9lmmics126a9hcqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880950983921-5c15l2u2n2op3ihe9lmmics126a9hcqm</string>
	<key>API_KEY</key>
	<string>AIzaSyAhf0xLTfLBnXWRHgXmD6NN3its6QB69oE</string>
	<key>GCM_SENDER_ID</key>
	<string>880950983921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kynginc.vaccidate</string>
	<key>PROJECT_ID</key>
	<string>vaccidate-eefa2</string>
	<key>STORAGE_BUCKET</key>
	<string>vaccidate-eefa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:880950983921:ios:795abb841804f7524dfd50</string>
</dict>
</plist>
